<!DOCTYPE html>
<html lang="en">
<head>
<title>Homepage</title>
<style type="text/css">
body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; }
iframe { border: none; }
</style>
<script type="text/javascript">
var Slide = {
    nextIndex: 0,

    slides: {{ slides|safe }},

    display: function()
    {
        var slide = Slide.slides[Slide.nextIndex];
        frames["displayArea"].location.href = slide.fields.url;
        Slide.nextIndex = (Slide.nextIndex + 1) % Slide.slides.length;
        setTimeout(Slide.display, slide.fields.duration * 1000);
    }
};

window.onload = Slide.display;

var tv_id = {{ tv_id }};

var last_updated = '';

function check(old_updated) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/tvs/" + tv_id, true);
    xhr.onload = function (e) {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                last_updated = JSON.parse(xhr.responseText).updated;
                // Check against empty string for initial run, since there is
                // nothing to compare the timestamp to.
                if (old_updated !== '' && old_updated !== last_updated) {
                    window.location.reload();
                }
            } else {
                console.error(xhr.statusText);
            }
        }
    };
    xhr.onerror = function (e) {
        console.error(xhr.statusText);
    };

    xhr.send(null);
}

check(last_updated);

(function poll() {
    check(last_updated);
    setTimeout(poll, 10000);
})();
</script>
</head>
<body>
<iframe name="displayArea" width="100%" height="100%"></iframe>
</body>
</html>
